.idea
.metadata
.project
.tmp
RemoteSystemsTempFiles
bin
dist
doc
e2e_config.json
jasmine_config.json
node_modules
output
output/logs/*.log
!output/logs
test-results.xml
client/bower_components
server/api/logging/error.log
server/api/logging/debug.log
server/api/logging/info.log
server/api/logging/warn.log
server/api/logging/exceptions.log
mocha.e2e.config.json
mocha.server.config.json
typings
server/logs/*.log
*.map
*.iml
